.container-fluid{
    margin: 0;
    padding: 0;
}

#logo{
    background-color: rgb(89, 89, 216);
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

main{
    margin-top: 66px;
    font-family: sans-serif;
}

#copyright{
    color: snow;
}

/*
Common End----------------------------------
*/


/*
Home page ----------------------------------
*/

.job_title{
    color: rgb(149, 209, 229);
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
    font-weight: bold;
}

.content_wrap{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.content_wrap .empty{
    flex: 1;
}

.content_left{
    flex: 3;
}

.content_left > h1{
    font-size: 46px;
    font-weight: bold;
    color: purple;
}

.content_left > img{
    width: 380px;
    height: 400px;
}

.skill{
    font-weight: bold;
}



/*
Home page End----------------------------------
*/


/*
About page ----------------------------------
*/
.about_wrap{
    width: 580px;
    margin: auto;
    padding-top: 200px;
}

.about_resume{
    font-size: 50px;
    font-weight: bold;
}

.about_resume:hover{
    background-color: black;
    opacity: 0.2;
    cursor: pointer;
    color: snow;
    border-radius: 10px;
}

.about_para{
    font-size: 24px;
    padding-top: 40px;
}

/*
About page End----------------------------------
*/






/*
Contact page ----------------------------------
*/

.contact_info{
    width: 580px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.contact_input{
    width: 580px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

label{
    margin: 20px;
    font-weight: bold;
}

input{
    margin-right: 50px;
}
.submit_btn{
    margin: auto;
}

/*
Contact page End----------------------------------
*/

