
<div class="container-fluid">
    <div class="col-12 about-image1-div">
    
    <h1>SUMI LEE</h1>
    <h2 onclick="location.href='/Sumi Resume'">Click Here For Resume!</h2>
</div>
<div class="col-12 about-image2-div">
    <div class="about-para">
    Hello! My name is Sumi Lee and I graduated Software Engineering at Centennial College in this year.
    I usually do computer skills as you can see in my resume.
    Please feel free to contatct me anytime if you have any vacancy position of developer.
    Thank you!
    
</div>
</div>