
<div class="container-fluid">
    
    <div class="about_wrap">
        <h2 class="about_resume" onclick="location.href='/Sumi Resume'">Click Here For Resume!</h2>
        <div class="about_para">
        Hello! My name is Sumi Lee and I graduated Software Engineering at Centennial College in this year.<br>
        I usually do computer skills as you can see in my resume.<br>
        Please feel free to contatct me anytime if you have any vacancy position of developer.<br>
        Thank you!
        </div>
    </div>
</div>
