
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="job_title">Software Developer</h1>
        </div>
        <div class="col content_wrap">
            <div class="empty"></div>
            <div class="empty"></div>
            <div class="content_left">
                <h1>SUMI LEE</h1>
                <img src="content/images/myphoto.jpg" alt="myphoto" />
            </div>
            <div class="empty"></div>
            <div class="content_right">
                <h3 class="skill">Skills & Tools</h3>
                <h4>Python</h4>
                <h4>JavaScript</h4>
                <h4>MongoDB</h4>
                <h4>SQLDB</h4>
                <h4>C#</h4>
                <h4>.NET Framework</h4>
                <h4>Java</h4>
            </div>
            <div class="empty"></div>
            <div class="empty"></div>
        </div>
    </div>
</div>