
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="col-12 main-image-div">
            <h1>Software Developer</h1>
        </div>
        <div class="col-12">
            <div class="col-12 main-image2-div">
        <h1>SUMI LEE</h1>
        <h2><div class="p1">Creative, Passionate Software Developer</div></h2>
        <h3><div class="p2">Skills & Tools</div></h3>
        <h4>Python</h4>
        <h4>JavaScript</h4>
        <h4>MongoDB</h4>
        <h4>SQLDB</h4>
        <h4>C#</h4>
        <h4>.NET Framework</h4>
        <h4>Java</h4>
        <h4>IntelliJ</h4>
        <h4>Eclipse</h4>

    </div>
</div>
<div class="col-12 computer-image-div">
    
</div>
<div class="col-12">
    
</div>
</div>
</div>