<div class="container-fluid">
    <div class="col projects-image1-div">
        <div class="project">
            <img src="./content/images/project1-image.png" alt="project1-image" onclick="location.href='https://yunkijung.github.io'">
            <p>Ecommerce Web Application<br>
                <span>Role : Front End Developer</span>
                <span class="skills">Skills : Javascript(React)</span>
            </p>
        </div>

        <div class="project">
            <img src="./content/images/project2-image.png" alt="project2-image" onclick="location.href='https://github.com/YunkiJung/Spring.git'">
            <p>Airline Booking System Web Application<br>
                <span>Role : Full Stack Developer</span>
                <span class="skills">Skills : Java(Spring), Oracle</span>
            </p>
        </div>

        <div class="project">
            <img src="./content/images/project3-image.png" alt="project3-image" onclick="location.href='https://github.com/YunkiJung/ExpressJS-Portfolio'">
            <p>Portfolio Web Application<br>
                <span>Role : Full Stack Developer</span>
                <span class="skills">Skills : Javascript(ExpressJS)</span>
            </p>
        </div>
    </div>
    

</div>