<div class="container-fluid">
    <div class="col services-image1-div">
        <div class="service">
            <img src="./content/images/spring-image.jpeg" alt="spring-image">
            <p>Spring Framework for Rest API Server</p>
        </div>

        <div class="service">
            <img src="./content/images/expressjs-image.png" alt="expressjs-image">
            <p>ExpressJS for Rest API Server</p>
        </div>

        <div class="service">
            <img src="./content/images/react-image.png" alt="react-image">
            <p>React for Single Page Web Application</p>
        </div>
    </div>
    
</div>
</div>